<div class="grid-container">
<div class="container">
  <h1 class="title">Kerfai's blog</h1>
<nav class="navbar">
<button class="navbar-toggler" id="home" type="button" routerLink="/home">Home</button>
  <button class="navbar-toggler" id="skills" type="button" routerLink="/skill">Skills</button>
  <button class="navbar-toggler" id="programming" type="button" routerLink="/prog">Programming languages</button>
  <button class="navbar-toggler" id="about" type="button" routerLink="/about">About</button>
  <button class="navbar-toggler" id="articles" type="button" routerLink="/articles">Articles</button>
  <button class="navbar-toggler" id="commands" type="button" routerLink="/commands">Useful commands</button>
</nav>
</div>
</div>
